$btn-font-size: clamp(1rem, 2vw, 1.2rem);
$btn-font-size-small: clamp(0.9rem, 1.2vw, 0.8rem);
$btn-font-size-big: clamp(1.2rem, 2.2vw, 1.75rem);
$btn-tertiary-font-size: clamp(1rem, 1.75vw, 1.125rem);

.btn {
    display: block;
    border-radius: 60px;
    font-size: $btn-font-size;
    @apply px-6;
    @apply py-2;
    width: fit-content;

    &:focus {
        outline: unset;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--green-dark-rgb);
    }

    &:hover {
        background-color: var(--green-semi);
        color: var(--white);
        border-color: var(--green-semi);
        &:disabled {
            cursor: not-allowed;
        }
    }

    &:disabled {
        background-color: var(--gray-5);
    }

    @screen sm {
        @apply px-7;
        @apply py-2;
    }

    @screen md {
        @apply px-8;
    }
}

.btn-primary {
    @extend .btn;
    color: var(--white);
    background-color: var(--green-dark);
}

.btn-primary-unobtrusive {
    @extend .btn;
    color: var(--black);
    background-color: var(--green-light);

    &:hover {
        color: var(--white);
    }
}

.btn-secondary {
    @extend .btn;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: inherit;
}

.btn-tertiary {
    color: var(--green-dark);
    font-size: $btn-tertiary-font-size;
    padding: 0;
    font-weight: bold;

    &:hover {
        color: var(--green-semi);
        background-color: unset;
    }
}

.btn-quaternary {
    @extend .btn;
    color: var(--white);
    // border: 1px solid var(--green-dark);
    background-color: var(--black);
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    @apply px-14;
    margin-top: 20px;

    &:hover {
        color: var(--white);
        background-color: var(--green-semi);
    }
}

.btn-danger {
    @extend .btn;
    color: var(--white);
    background-color: var(--red);

    &:hover {
        background-color: darken(#d54444, 20%);
    }
}

.btn-small {
    @extend .btn;
    font-size: $btn-font-size-small;
    @apply px-4;
}

.btn-big {
    @extend .btn;
    font-size: $btn-font-size-big;
    @apply px-8;
}

.btn-create-weekplan {
    @extend .btn-big;
    color: var(--black);
    background-color: var(--orange);
    line-height: 1;
    z-index: 20;
    @apply py-4;

    &:hover {
        background-color: var(--orange-lighter);
    }
}

.badge {
    padding: 0.4em 0.75em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: 500;
    color: var(--green-dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--green-dark);
    border-radius: 1.9rem;
    background-color: transparent;
    &.badge-lg {
        height: 1.6rem;
        font-size: 0.8rem;
        line-height: 1.4rem;
        padding-left: 0.588rem;
        padding-right: 0.588rem;
        @screen sm {
            height: 1.8rem;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-left: 0.688rem;
            padding-right: 0.688rem;
        }
    }
    &.badge-sm {
        height: 1.5rem;
        border-radius: 0.4rem;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-inline: 0.25rem;
    }
    &.active:not(div) {
        background-color: var(--green-dark);
        color: var(--white);
        &:hover {
            background-color: var(--green-semi);
        }
    }
}
