.background {
    height: 100vh;
    width: 100vw;
    // background-image: url('../../public/startBackground.jpg');
}

.greenShadow {
    height: 100vh;
    width: 100vw;
    // background-color: var(--green-dark);
    // position: fixed;
    padding-top: 50px;
}