@import "@styles/variables.scss";


.container {
    width: 80%;
    margin-inline: auto;
    padding-bottom: 200px;
}

.recipeBox {
    background-color: var(--green-light);
    width: 100%;
    border-radius: $boder-radius-m;
    padding: 0px;
    margin-inline: auto;
    margin-top: 10px;
}

.titleRecipe {
    color: var(--green-dark);
}

.foodImg {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: $boder-radius $boder-radius 0 0;
}

.checkbox {
    margin-right: 10px;

    &+label {
        font-size: 20px;
    }

    // Hover
    &+label:hover {
        color: var(--green-dark-rgb);
    }

    // Checked
    &:checked {
        &+label {
            &:before {
                background: red;
                box-shadow: none;
            }

            &:after {
                border-color: white;
            }
        }
    }
}



.stepImg {
    height: 260px;
    width: 600px;
    margin-bottom: 20px;
    border-radius: $boder-radius-m;
    object-fit: cover;
}

.recipeText {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}