@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@styles/variables.scss';
@import '@styles/transitions.scss';
@import '@styles/text.scss';
@import '@styles/btns.scss';
@import '@styles/scrollbar.scss';

:root {
    --green-light-rgb: rgb(214, 229, 227);
    --green-light: #d6e5e3;
    --green-dark-rgb: rgb(0, 115, 112);
    --green-dark: #007370;

    --green-semi: #00a39e;

    --orange: #ff840a;
    --orange-lighter: #ff6b00;

    --black: #000000;
    --white: #fffffa;

    --red: #d54444;

    --gray-5: #c5c5c5;

    //old dont use
    --gray-light: #f2f5f4;
    --gray-2: #d6d6d6;
    --gray-3: #707070;
    --gray-dark: rgb(58, 58, 58);
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    position: relative;
}

a {
    &:focus {
        outline: unset;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--green-dark-rgb);
    }
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.custom-focus {
    &:focus {
        outline: unset;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--green-dark-rgb);
    }
}

input:not([role='combobox']) {
    &:focus {
        outline: unset;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--green-dark-rgb);
    }
}

button {
    &:focus {
        outline: unset;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--green-dark-rgb);
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

textarea {
    &:focus {
        outline: unset;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--green-dark-rgb);
    }
}
input[type='submit'] {
    cursor: pointer;
}

.text-input-wrapper {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.25rem;
    }

    input {
        border: 3px solid var(--green-dark);
        border-radius: 15px;
        padding: 0rem 0.75rem;
        height: 45px;
        background-color: var(--white);

        &:focus {
            outline: unset;
        }
    }
    & ~ .errorMessage {
        color: var(--red);
        font-size: 0.75rem;
        margin-top: 0.25rem;
    }

    &.error {
        input {
            border-color: var(--red);
        }
    }
}

.mainContainer {
    max-width: 1536px;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 10vh - 315px);
    padding: 1.5rem;
    margin-inline: auto;

    @screen md {
        padding: 3.5rem;
        padding-top: 6rem;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--green-dark) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    // background: transparent;
    background-color: var(--gray-light);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green-dark);
    border-radius: 10px;
    border: 2px solid #fff;
}

.recipeCardGrid {
    @apply overflow-y-auto overflow-x-hidden flex flex-row flex-wrap gap-[2%] lg:min-w-[980px] h-[69vh] sm:h-[52vh] lg:min-h-[325px] pt-5 pb-20;
}

.recipeCardWrapper {
    @apply w-[48%] lg:w-[15%] sm:w-[30%];
}

// Swiper custom elements
.swiper-pagination {
    --swiper-pagination-color: var(--green-dark);
}
