@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@styles/variables.scss';

:root {
    --green-light: #009245;
    --green-dark: rgb(0, 104, 55);
    --green-dark-background: rgba(0, 104, 55, 0.9);

    --red: #d54444;

    --gray-light: #f2f5f4;
    --gray-2: #d6d6d6;
    --gray-3: #707070;
    --gray-dark: rgb(58, 58, 58);

    --black: #000000;
    --white: #ffffff;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: $font-family;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    color: var(--gray-light);
}

h2 {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: var(--gray-light);
}

h3 {
    font-family: $font-family;
    font-weight: 100;
    font-style: normal;
    font-size: 35px;
    color: var(--gray-dark);
}

h4 {
    font-family: $font-family;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    color: var(--gray-dark);
}

p {
    font-family: $font-family;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color: var(--gray-dark);
}
