.intoleranceWrapper {
    &:hover {
        label {
            background-color: var(--green-light);
            color: var(--white);
            border-color: var(--green-light);
        }
    }

    input[type='checkbox']:checked + label,
    .Checked + label {
        background-color: var(--green-dark);
        color: var(--white);
        border-color: var(--green-dark);
    }
}
