.preferencesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 0 0;
    padding: 0;

    .choiceWrapper {
        display: block;
        margin-bottom: 1rem;
        width: 300px;
        height: 60px;
        position: relative;

        &:last-child {
            margin-bottom: 1.5rem;
        }
    }

    label,
    input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        z-index: 1;
    }
    input[type='radio'] {
        opacity: 0.01;
        z-index: 100;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 50px;
        z-index: 90;
    }

    input[type='radio']:checked + label,
    .Checked + label {
        background: var(--c-green-1);
        color: var(--c-white);
    }
}
