@import "@styles/variables.scss";


.container {
    width: 80%;
    margin-inline: auto;
}

.weekplanBox {
    background-color: var(--green-light);
    width: 250px;
    height: 350px;
    border-radius: $boder-radius;
    margin-inline: auto;
    margin-top: 10px;

    &:hover .foodImg {
        opacity: 0.1;
    }

    &:hover .discriptionHover {
        opacity: 1;
    }

    &:hover .discriptionFood {
        margin-top: -230px;
    }
}

.foodBox {
    width: 250px;
    height: 250px;
    border-radius: $boder-radius;
    margin-top: 10px;
}

.foodImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $boder-radius $boder-radius 0 0;
}

.discriptionFood {
    padding: 10px;
    transition: margin-top 0.2s;
}

.discriptionHover {
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    margin-top: 0px;
}

.today {
    background-color: var(--green-dark);
}