@import "@styles/variables.scss";


.container {
    width: 80%;
    margin-inline: auto;
}



.weekContainer {
    height: 500px;
}

.weekplanBox {
    background-color: var(--green-light);
    width: 250px;
    height: 350px;
    border-radius: $boder-radius;
    margin-inline: auto;
    margin-top: 10px;

    &:hover .foodImg {
        opacity: 0.1;
    }

    &:hover .discriptionHover {
        opacity: 1;
        cursor: pointer;
    }

    &:hover .discriptionFood {
        margin-top: -230px;
    }
}

.foodBox {
    width: 250px;
    height: 250px;
    border-radius: $boder-radius;
    margin-top: 10px;
}

.foodImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $boder-radius $boder-radius 0 0;
}

.discriptionFood {
    padding: 10px;
    transition: margin-top 0.1s;
}

.discriptionHover {
    opacity: 0;
    // display: none;
    pointer-events: none;
    transition: opacity 0.08s;
    position: absolute;
    margin-top: 0px;
}

.swiper-container .swiper-button-prev {
    color: var(--green-dark);

}

.swiper-container .swiper-button-next {
    background-color: var(--green-dark);

}