.mainImage {
    grid-area: 1 / 2 / 4 / 5;
    width: 200px;
    height: 200px;
    background-image: url('/Landingpage/Recipes/erbsensuppe.png');
    background-size: cover;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;

    @screen sm {
        width: 250px;
        height: 250px;
    }

    @screen lg {
        width: 350px;
        height: 350px;
    }

    @screen 2xl {
        width: 550px;
        height: 550px;
    }
}

.topLeft {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: -180px;
    background-image: url('/Landingpage/Recipes/cabonarra.png');
}

.topRight {
    grid-area: 4 / 2 / 5 / 3;
    background-image: url('/Landingpage/Recipes/porridge.png');
}

.bottomLeft {
    grid-area: 4 / 4 / 5 / 5;
    background-image: url('/Landingpage/Recipes/spaetzle.png');
}

.bottomRight {
    grid-area: 3 / 5 / 4 / 6;
    margin-top: -180px;
    background-image: url('/Landingpage/Recipes/sushibowl.png');
}
