.done {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    z-index: 2;
    background-color: var(--green-dark);
}

.notDone {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    z-index: 2;
    background-color: var(--gray-5);
}
