.choiceWrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    position: relative;

    &:hover {
        label {
            background-color: var(--green-light);
            color: var(--white);
            border-color: var(--green-light);
        }
    }
}

.customFocus {
    &:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
    }

    &:focus-visible {
        outline: unset;
    }
}

.radioBtn:checked + .radioLabel,
.Checked + .radioLabel {
    background-color: var(--green-dark);
    color: var(--white);
    border: none;
    p {
        color: var(--white);
    }
}
