@import "@styles/variables.scss";

.footerContainer {
    background-color: var(--green-light);
    margin-top: -1px;

    h3 {
        margin-top: -38px;
        text-align: center;
    }
}

.shape {
    // position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px;
}

.shape .shapeFill {
    fill: var(--green-light);
}