.dislikeWrapper {
    span {
        display: inline-block;
        height: 40px;
        border: solid;
        border-radius: 50px;
        border: 2px solid var(--green-dark);
        background-color: var(--green-light);
        padding: 10px;
        padding-top: 5px;
        overflow: hidden;
        white-space: nowrap;
        width: max-content;

        label {
            align-items: center;
        }

        @screen lg {
            height: 50px;
            padding-top: 10px;
        }
    }
}

.recommendationsWrapper {
    button {
        margin-bottom: 6px;
        margin-left: 6px;
        border: solid;
        border-radius: 50px;
        border: 2px solid var(--green-dark);
        background-color: var(--white);
        white-space: nowrap;
        // overflow: hidden;
        padding: 5px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 0.8rem;

        &:hover {
            background-color: var(--green-light);
        }
    }
}
