@import '@styles/variables.scss';

.wrapperContainer {
    position: relative;
    width: 100%;
    height: 225px;
    @screen sm {
        width: 160px;

        &:hover {
            .foodImg {
                opacity: 0.1;
            }
            .discriptionHover {
                opacity: 1;
                cursor: pointer;
                position: relative;
            }

            .icon {
                background-color: transparent;
            }

            .icon__highlighted {
                color: #fff;

                &:hover {
                    color: var(--green-semi);
                    fill: var(--green-semi);
                }
            }

            .icon__notHighlighted {
                color: var(--green-dark);

                &:hover {
                    color: var(--green-semi);
                    fill: var(--green-semi);
                }
            }

            .discriptionFood {
                bottom: 0;
            }

            .weekplanBoxToday {
                background-color: var(--green-dark);
            }
            .weekplanBox {
                flex-direction: column;
            }

            .icon__favorite.icon__notHighlighted {
                fill: var(--green-dark);

                &:hover {
                    color: var(--green-semi);
                    fill: var(--green-semi);
                }
            }
        }
    }

    @screen lg {
        width: 200px;
        height: 300px;
    }
}

.weekplanBox {
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, var(--green-light) 90%);
    transition: all 0.8s;
}

.weekplanBoxToday {
    transition: background-color 0.8s;
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, var(--green-dark) 90%);
}

.icon__favorite {
    fill: var(--white);
}
