@import '@styles/variables.scss';

.wrapperContainer {
    @screen sm {
        &:hover {
            .foodImg {
                opacity: 0.1;
            }
            .discriptionHover {
                opacity: 1;
                cursor: pointer;
                position: relative;
            }

            .icon {
                background-color: transparent;
            }
            .icon__inverted {
                    color: #fff;
                    background-color: var(--green-semi);

            }

            .icon__highlighted {
                color: #fff;

                &:hover {
                    color: var(--green-semi);
                    fill: var(--green-semi);
                }
            }

            .icon__notHighlighted {
                color: var(--green-dark);

                &:hover {
                    color: var(--green-semi);
                    fill: var(--green-semi);
                }
            }

            .discriptionFood {
                bottom: 0;
            }

            .weekplanBoxToday {
                background-color: var(--green-dark);
            }
            .weekplanBox {
                flex-direction: column;
            }

            .icon__favorite.icon__notHighlighted {
                fill: var(--green-dark);

                &:hover {
                    color: var(--green-semi);
                    fill: var(--green-semi);
                }
            }
        }
    }
}

.weekplanBox {
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, var(--green-light) 90%);
    transition: all 0.8s;
}

.weekplanBoxToday {
    transition: background-color 0.8s;
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, var(--green-dark) 90%);
}

.icon__favorite {
    fill: var(--white);
}

.recipeTitle {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
