@import '@styles/variables.scss';

.wrapperContainer {
    position: relative;
    width: 100%;
    height: 225px;
    @screen sm {
        width: 160px;

        &:hover .foodImg {
            opacity: 0.1;
        }

        &:hover .discriptionHover {
            opacity: 1;
            cursor: pointer;
        }

        &:hover .heartIcon {
            opacity: 1;
            cursor: pointer;
            top: 10px;
        }

        &:hover .discriptionFood {
            top: 20px;
        }

        &:hover .twoLinesName {
            top: 50px;
        }

        &:hover .threeLinesName {
            top: 80px;
        }

        &:hover .fourLinesName {
            top: 110px;
        }

        &:hover .weekplanBoxToday {
            background-color: var(--green-dark);
        }
        &:hover .weekplanBox {
            flex-direction: column;
        }
    }

    @screen lg {
        width: 200px;
        height: 300px;
    }
}

.weekplanBox {
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, var(--green-light) 90%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    border-radius: $boder-radius;
    margin-inline: auto;
    margin-top: 10px;
    z-index: 5px;
    position: relative;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
}

.weekplanBoxToday {
    transition: background-color 0.8s;
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, var(--green-dark) 90%);
}

.foodBox {
    width: 100%;
    height: 100%;
    border-radius: $boder-radius;
    position: absolute;
}

.foodImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $boder-radius;
    z-index: -5px;
    transition: opacity 0.6s ease-in-out;
}

.discriptionFood {
    padding: 10px;
    transition: top 0.6s ease-in-out;
    top: calc(100% - 30px);
    height: fit-content;
    width: 100%;
}

.discriptionHover {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    margin-top: 25px;
    width: 240px;
}

.heartIcon {
    opacity: 0;
    position: absolute;
    transition: all 0.6s ease-in-out;
    top: calc(100% - 10px);
    width: 100%;
    fill: none;
    z-index: 5;
}
